body {
  padding-top: 50px;
}

.template {
    padding-top: 20px;
}

ul {
    margin: 10px;
}

hr {
    margin: 5px;
}

.dl-horizontal-list dd {
    margin-left: 10px;
}

.dl-horizontal-list dt {
    float: left;
    width: 38%;
    clear: left;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.movie-info {
    padding: 10px 0px 20px 0px;
}

.show-info {
    padding: 20px;
}

.filter {
    margin: 20px 0px 15px 0px;
}

.nav, .pagination, .carousel, .panel-title, .glyphicon-remove, a {
    cursor: pointer;
}

.panel-movies {
    height: 250px;
}

.panel-body {
    padding: 8px;
}

.search {
    padding-top: 5px;
}

.message {
    text-align: center;
}

.cover {
    width: 120px;
    height: 177px;
}

.cover-big {
    width: 250px;
    height: 369px;
}

.header {
    margin-bottom: 50px;
}

.logo-network {
    width:46px;
    height:25px;
    display:block;
    background-image:url("/img/sprite.logo.tv.min.png");
    background-repeat:no-repeat;
    background-color:transparent;
    text-indent:-99999px;
    float:left
}

.abc{background-position:0 0}
.fox{background-position:0 -25px}
.nbc{background-position:0 -50px}
.the_cw{background-position:0 -75px}
.cbs{background-position:0 -100px}
.fx{background-position:0 -125px}
.showtime{background-position:0 -150px}
.hbo{background-position:0 -175px}
.abc_family{background-position:0 -200px}
.amc{background-position:0 -225px}
.lifetime{background-position:0 -250px}
.syfy{background-position:0 -275px}
.usa_network{background-position:0 -300px}
.tnt{background-position:0 -325px}
.channel_4{background-position:0 -350px}
.bbc_one{background-position:0 -375px}
.itv2{background-position:0 -400px}
.directv{background-position:0 -425px}
.starz{background-position:0 -450px}
.cartoon_network{background-position:0 -475px}
.syndique{background-position:0 -500px}
.a_and_e{background-position:0 -525px}
.upn{background-position:0 -550px}
.bbc_two{background-position:0 -725px}
.nine_network{background-position:0 -600px}
.the_wb{background-position:0 -625px}
.web{background-position:0 -650px}
.tbs{background-position:0 -675px}
.bbc{background-position:0 -700px}
.bbc3{background-position:0 -575px}
.the_movie_network{background-position:0 -750px}
.comedy_central{background-position:0 -775px}
.showcase{background-position:0 -800px}
.spike{background-position:0 -825px}
.cbc{background-position:0 -850px}
.mtv{background-position:0 -875px}
.bbc_america{background-position:0 -1300px}
.cinemax{background-position:0 -1325px}
.ctv{background-position:0 -1350px}
.tv_land{background-position:0 -1375px}
.netflix{background-position:0 -1400px}
.history{background-position:0 -1425px}
.bravo{background-position:0 -1450px}
.global{background-position:0 -1475px}
.sundance{background-position:0 -1500px}
.abc_2{background-position:0 -1525px}
.sky1{background-position:0 -1550px}
.bet{background-position:0 -1575px}
.hallmark_channel{background-position:0 -1600px}
.adult_swim{background-position:0 -1625px}
.ifc{background-position:0 -1650px}
.tf1{background-position:0 -900px}
.france_2{background-position:0 -925px}
.france_3{background-position:0 -950px}
.canal_plus{background-position:0 -975px}
.arte{background-position:0 -1000px}
.m6{background-position:0 -1025px}
.france_4{background-position:0 -1050px}
.france_5{background-position:0 -1075px}
.direct_8{background-position:0 -1100px}
.w9{background-position:0 -1125px}
.tmc{background-position:0 -1150px}
.nt1{background-position:0 -1175px}
.nrj12{background-position:0 -1200px}
.direct_star{background-position:0 -1225px}
.gulli{background-position:0 -1250px}
.france_o{background-position:0 -1275px}