body {
  padding-top: 50px;
}

.template {
    padding-top: 20px;
}

ul {
    margin: 10px;
}

hr {
    margin: 5px;
}

.dl-horizontal-list dd {
    margin-left: 10px;
}

.dl-horizontal-list dt {
    float: left;
    width: 38%;
    clear: left;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.movie-info {
    padding: 10px 0px 20px 0px;
}

.show-info {
    padding: 20px;
}

.filter {
    margin: 20px 0px 15px 0px;
}

.nav, .pagination, .carousel, .panel-title, .glyphicon-remove, a {
    cursor: pointer;
}

.panel-movies {
    height: 250px;
}

.panel-body {
    padding: 8px;
}

.search {
    padding-top: 5px;
}

.message {
    text-align: center;
}

.cover {
    width: 120px;
    height: 177px;
}

.cover-big {
    width: 250px;
    height: 369px;
}

.header {
    margin-bottom: 50px;
}