<div class="container">
    <h3>{{movie.title}}</h3>
    <div class="row movie-info">
        <div class="col-md-4 col-sm-6 col-xs-5">
            <p><img class="hidden-xs" ng-src="{{movie.medium_cover_image}}" alt="{{movie.title}}" />
            <img class="visible-xs" ng-src="{{movie.MediumCover}}" alt="{{movie.title}}" /></p>
            <p><a class="btn btn-primary" href="https://www.youtube.com/embed/{{movie.yt_trailer_code}}?rel=0&wmode=transparent&border=0&autoplay=1&iv_load_policy=3">Trailer <span class="glyphicon glyphicon-film"></span></a></p>
        </div>
        <div class="col-md-6 col-sm-5 col-xs-7">
            <dl class="dl-horizontal">
                <dt class="hidden-xs">Year</dt>
                <dd>{{movie.year}}</dd>
                <dt class="hidden-xs">Genres</dt>
                <dd><span ng-repeat="genre in movie.genres">{{genre}}, </span></dd>
                <dt class="hidden-xs">Size</dt>
                <dd>{{movie.torrents[0].size}}</dd>
                <dt class="hidden-xs">Quality</dt>
                <dd>{{movie.torrents[0].quality}}</dd>
                <dt class="hidden-xs">Language</dt>
                <dd>{{movie.language}}</dd>
                <dt class="hidden-xs">Runtime</dt>
                <dd>{{movie.runtime}} min</dd>
                <dt class="hidden-xs">Subtitles</dt>
                <dd><a href="http://www.yifysubtitles.com/movie-imdb/{{movie.imdb_code}}">Download</a></dd>
                <dt class="hidden-xs">Rate</dt>
                <dd>{{movie.rating | rate}}</dd>
                <dt class="hidden-xs">Download</dt>
                <dd><span ng-repeat="torrent in movie.torrents">
                    <button ng-class="(torrent.quality == '720p') ? 'btn btn-info btn-xs' : 'btn btn-success btn-xs'" ng-click="upload(torrent.magnet, movie.title)">{{torrent.quality}} <span class="glyphicon glyphicon-cloud-download"></span></button>
                </span></dd>
            </dl>


            <ul class="nav nav-tabs hidden-xs" id="format">
                <li ng-class="{active:$first}" ng-repeat="(key, torrent) in movie.torrents"><a href="{{url}}#{{key}}" data-toggle="tab">{{torrent.quality}}</a></li>
            </ul>

            <div class="tab-content hidden-xs">
                <div ng-repeat="(key, torrent) in movie.torrents" ng-class="{active:$first}" class="tab-pane show-info" id="{{key}}">
                    <div class="row">
                        <div class="col-md-4">
                            <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                            {{torrent.size}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
                            <span class="label label-success">{{torrent.seeds}}</span>
                        </div>
                        <div class="col-md-4">
                            <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                            <span class="label label-danger">{{torrent.peers}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7">
            <h4><span class="label label-default">Description</span></h4>
            <p>{{movie.description_full}}</p>

            <h4><span class="label label-default">Casting</span></h4>
            <div ng-repeat="actor in movie.cast">
                <p><img ng-src="{{actor.url_small_image}}" class="img-circle" /> <a href="http://www.imdb.com/name/nm{{actor.imdb_code}}" target="_blank">{{actor.name}}</a> ({{actor.character_name}})</p>
            </div>
        </div>

        <div class="col-md-5 hidden-xs">
            <h4><span class="label label-default">Screenshots</span></h4>
            <p><img ng-src="{{movie.medium_screenshot_image1}}" /></p>
            <p><img ng-src="{{movie.medium_screenshot_image2}}" /></p>
            <p><img ng-src="{{movie.medium_screenshot_image3}}" /></p>
        </div>
    </div>
</div>