<div class="container">
    <div class="header">
        <img class="hidden-xs center-block img-rounded" ng-src="{{tvshow.images.banner}}" alt="{{tvshow.title}}" />
        <h3>{{tvshow.title}}</h3>
    </div>

    <div class="row movie-info">
        <div class="col-md-4 col-sm-6 col-xs-5 hidden-xs">
            <img class="hidden-xs cover-big" ng-src="{{tvshow.images.poster}}" alt="{{tvshow.title}}" />
        </div>

        <div class="col-md-6 col-sm-5 col-xs-7">
            <dl class="dl-horizontal-list">
                <dt class="hidden-xs">Year</dt>
                <dd>{{tvshow.year}}</dd>
                <dt class="hidden-xs">Genres</dt>
                <dd><span ng-repeat="genre in tvshow.genres">{{genre}}, </span></dd>
                <dt class="hidden-xs">Country</dt>
                <dd>{{tvshow.country}}</dd>
                <dt class="hidden-xs">Air Day</dt>
                <dd>{{tvshow.air_day}}</dd>
                <dt class="hidden-xs">Air Time</dt>
                <dd>{{tvshow.air_time}}</dd>
                <dt class="hidden-xs">Status</dt>
                <dt class="hidden-xs">Rate</dt>
                <dd>{{tvshow.rating.percentage | rate}}</dd>
                <dd>{{tvshow.status}}</dd>
                <dt class="hidden-xs">Num Seasons</dt>
                <dd>{{tvshow.num_seasons}}</dd>
                <dt class="hidden-xs">Num Episodes</dt>
                <dd>{{tvshow.episodes.length}}</dd>
                <dt class="hidden-xs">Network</dt>
                <dd><span class="logo-network {{tvshow.network_slug}}"></span>&nbsp;</dd>
            </dl>

            {{tvshow.synopsis}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4>Episodes</h4>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" id="showsTab">
                <li ng-class="{active:$first}" ng-repeat="(key, episode) in episodes"><a href="{{url}}#{{key}}" data-toggle="tab">Season {{key}}</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div ng-repeat="(key, episode) in episodes" ng-class="{active:$first}" class="tab-pane show-info" id="{{key}}">
                    <div class="panel-group" id="accordion">
                        <div ng-repeat="(id, show) in episode">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="{{url}}#{{id}}">
                                            Episode {{show.episode}} {{show.title}}
                                        </a>
                                        <div ng-repeat="torrent in show.torrents" class="pull-right">
                                            <button ng-if="torrent.url !== null" ng-class="(torrent.format == '720p') ? 'btn-info' : 'btn-success'" class="btn btn-xs"  ng-click="upload(torrent.urlMagnet, show.title)"><span class="glyphicon glyphicon-cloud-download"></span>{{torrent.format}}</button>&nbsp;&nbsp;
                                        </div>
                                    </h4>
                                </div>
                                <div id="{{id}}" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        {{show.overview}}
                                        {{show.first_aired * 1000 | date:'shortDate'}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>