<div class="container-fluid">
    <div infinite-scroll='pager.nextPage()' infinite-scroll-disabled='pager.busy' infinite-scroll-distance='1'>
        <div ng-repeat="tvshow in pager.items" class="row-fluid">
            <div class="col-lg-3 col-md-4 col-sm-5">
                <div class="panel panel-movies panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><a href="#/tvshows/{{tvshow.imdb_id}}">{{tvshow.title}}</a> </h3>
                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-5 col-xs-5">
                                <a href="#/tvshows/{{tvshow.imdb_id}}"><img ng-src="{{tvshow.images.poster}}" alt="{{tvshow.MovieTitleClean}}" class="cover" /></a>
                            </div>

                            <div class="col-md-7 col-xs-7">
                                <dl class="dl-horizontal-list">
                                    <dt class="hidden-xs">Year</dt>
                                    <dd>{{tvshow.year}}</dd>
                                    <dt class="hidden-xs">Status</dt>
                                    <dd>{{tvshow.status}}</dd>
                                    <dt class="hidden-xs">Runtime</dt>
                                    <dd>{{tvshow.runtime}} min</dd>
                                    <dt class="hidden-xs">Air Day</dt>
                                    <dd>{{tvshow.air_day}}</dd>
                                    <dt class="hidden-xs">Network</dt>
                                    <dd>{{tvshow.network}}</dd>
                                    <dt class="hidden-xs">Country</dt>
                                    <dd>{{tvshow.country}}</dd>
                                    <dt class="hidden-xs">Seasons</dt>
                                    <dd>{{tvshow.num_seasons}}</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show='pager.busy'>Loading data...</div>
    </div>
</div>
